version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: media
      POSTGRES_USER: media
      POSTGRES_PASSWORD: media
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  worker:
    build: ./backend
    command: celery -A project worker -l info
    volumes:
      - ./backend:/app
    env_file:
      - .env
    depends_on:
      - web
      - rabbitmq
      - redis

  celery-beat:
    build: ./backend
    command: celery -A project beat -l info
    depends_on:
      - rabbitmq
      - redis

  flower:
    image: mher/flower
    command: celery flower --broker=${CELERY_BROKER_URL}
    env_file:
      - .env
    ports:
      - '5555:5555'
    depends_on:
      - rabbitmq
    

volumes:
  pgdata: